@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;wght@500;wght@600;wght@700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.home-hero-bg {
  background-image: url("/images/alkali-header-bg.jpg");
}

.portfolio1 {
  background-image: url("/images/cartalk-repair-cover.jpg");
  transition: 0.5s;
  background-repeat: no-repeat;
  background-size: cover;
}

.portfolio1:hover {
  background-image: url("/images/cartalk-repair-logo.jpg");
  transition: 0.5s;
}

.portfolio2 {
  background-image: url("/images/carro-cover.jpg");
  transition: 0.5s;
}

.portfolio2:hover {
  background-image: url("/images/carro-logo.jpg");
  transition: 0.5s;
}

.portfolio3 {
  background-image: url("/images/magnetite-cover.jpg");
  transition: 0.5s;
}

.portfolio3:hover {
  background-image: url("/images/magnetite-logo.jpg");
  transition: 0.5s;
}

.screenshot-d {
  transform: translate3d(-15%,0,0) rotate(-45deg);
}

.screenshot-container {
  transform: rotateX(55deg);
}

.screenshot-d-alt {
  transform: translate3d(15%,0,0) rotate(45deg);
}

.screenshot-t {
  transform: rotate(-45deg);
  margin-top: -350px;
  margin-left: 250px;
}

.screenshot-p {
  transform: rotate(-45deg);
  margin-top: -700px;
  margin-left: -540px;
}

.portfolio-image {
  transform: translate3d(15%,0,0) rotate(45deg);
}

.portfolio-image-container {
  transform: rotateX(55deg);
}

.portfolio-image2 {
  transform: translate3d(-15%,0,0) rotate(-45deg);
}

.portfolio-image-container {
  transform: rotateX(55deg);
}

.portfolio-title::after {
  content: '';
  display: block;
  margin-top: -15px;
  margin-left: 100px;
  max-width: 500px;
  height: 1px;
  background-color: #9ca3af;
  margin-bottom: 0.65em;
}

.portfolio-title2::after {
  content: '';
  display: block;
  margin-top: -15px;
  margin-left: 140px;
  max-width: 500px;
  height: 1px;
  background-color: #9ca3af;
  margin-bottom: 0.65em;
}

.portfolio-desktop {
  transform: rotate(-45deg) !important;
  width: 600px !important;
  position: absolute;
  bottom: 0;
}

.portfolio-desktop2 {
  transform: rotate(45deg) !important;
  width: 600px !important;
  position: absolute;
  right: -100px;
  top: -475px;
}

.portfolio-tablet {
  transform: rotate(-45deg) !important;
  width: 390px !important;
  position: absolute;
  top: -50px;
  right: 475px;
}

.portfolio-phone {
  transform: rotate(-45deg) !important;
  width: 207px !important;
  position: absolute;
  right: 340px;
  top:-280px;
}

/* duration-500 ease-in-out bg-white hover:bg-alkaligrey-700 transform hover:-translate-y-1 hover:scale-110*/
