@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;wght@500;wght@600;wght@700&display=swap');
@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";



@media only screen and (max-width: 768px) {
	.event-dotR::before {
		display: none;
	}
	.event-dotR::after {
		display: none;
	}
	.event-dotL::before {
		display: none;
	}
	
	.event-dotL::after {
		display: none;
	}
	.event-dotEnd::before {
		display: none;
	}
	.event-dotEnd::after{
		display: none;
	}	
}
@media only screen and (max-width: 990px) {
	.event-dotR::before {
		top: 200px !important;
		height: 350px !important;
	}
	.event-dotL::before {
		top: 200px !important;
		height: 350px !important;
	}
}

.event-dotR::before {
	content: "";
    width: 2px;
    height: 300px;
    background: #e4e4e4;
    position: absolute;
    top: 135px;
    z-index: -1;
    right: 35px;
    transform: translateX(-20%);
}

.event-dotR::after {
	content: "";
    width: 100%;
    height: 2px;
    background: #e4e4e4;
    position: absolute;
    left: 0%;
    z-index: -1;
    top: 50%;
    transform: translateY(-50%);
}

.event-dotEnd::after {
	content: "";
    width: 100%;
    height: 2px;
    background: #e4e4e4;
    position: absolute;
    left: 0%;
    z-index: -1;
    top: 50%;
    transform: translateY(-50%);
}

.event-dotL::before {
	content: "";
    width: 2px;
    height: 300px;
    background: #e4e4e4;
    position: absolute;
    top: 135px;
    z-index: -1;
    left: 35px;
    transform: translateX(-20%);
}


.event-dotL::after {
    content: "";
    width: 100%;
    height: 2px;
    background: #e4e4e4;
    position: absolute;
    right: 0;
    z-index: -1;
    top: 50%;
    left: auto;
    transform: translateY(-50%);
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.IntegrationIcon:hover > .IconSpan {
	opacity: 1;
}

.IntegrationIcon span {
    font-family: Camphor,Open Sans,Segoe UI,sans-serif;
    font-style: normal;
    will-change: transform,opacity;
    padding: 5px 12px;
    background: #949494;
    border-radius: 50px;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    opacity: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.vertical-timeline-element-content {
	--tw-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25) !important;
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
}

.difference-listG ul li {
    position: relative;
    font-size: 1.125rem;
    line-height: 1.75;
    color: #636363;
    font-family: "PT Serif",sans-serif;
    padding-left: 3rem;
	margin-top: 1.5rem;
}

.difference-listR ul li {
    position: relative;
    font-size: 1.125rem;
    line-height: 1.75;
    color: #636363;
    font-family: "PT Serif",sans-serif;
    padding-left: 3rem;
	margin-top: 1.5rem;
}

.difference-listG ul li::before {
    content: "✔";
    font-family: icon-font, sans-serif;
	background: rgba(39, 174, 96, 0.15);
	color: rgba(39, 174, 96, 0.7);
    font-size: 1rem;
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.difference-listR ul li::before {
	content: "🗙";
	font-family: icon-font, sans-serif;
	background: rgba(235, 87, 87, 0.15);
	color: rgba(235, 87, 87, 0.7);
	font-size: 1rem;
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.dropdown {
	position: relative;
	display: inline-block;
	transition-duration: 1000ms;
  }
  
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 37rem;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 90;
	transition-duration: 1000ms;
  }

  .dropdown:hover .dropdown-content {display: block; transition-duration: 1000ms;}
  .dropdown-content a:hover {transition-duration: 1000ms;}
  
  .dropdown:hover .dropbtn {transition-duration: 1000ms;}

.browser-mockup {
	border-top-left-radius: 0.375rem;
	border-top-right-radius: 0.375rem;
	border-top: 2em solid rgba(230, 230, 230, 0.7);
	position: relative;
	border-radius: 3px 3px 0 0
  }
  
  .browser-mockup:before {
	display: block;
	position: absolute;
	content: '';
	top: -1.25em;
	left: 1em;
	width: 0.5em;
	height: 0.5em;
	border-radius: 50%;
	background-color: #f44;
	box-shadow: 0 0 0 2px #f44, 1.5em 0 0 2px #9b3, 3em 0 0 2px #fb5;
  }

  .stat-container {
	width: 30rem;
  }

  .browser-mockup.with-tab:after {
	display: block;
	position: absolute;
	content: '';
	top: -2em;
	left: 5.5em;
	width: 20%;
	height: 0em;
	border-bottom: 2em solid white;
	border-left: 0.8em solid transparent;
	border-right: 0.8em solid transparent;
  }
  
  .browser-mockup.with-url:after {
	display: block;
	position: absolute;
	content: '';
	top: -1.6em;
	left: 5.5em;
	width: calc(100% - 6em);
	height: 1.2em;
	border-radius: 2px;
	background-color: white;
  }
  
  .browser-mockup > * {
	display: block;
  }

.particle-header {
	margin-top: -55rem;
	margin-bottom: 40rem;
}

.carro-bg {
	background-image: linear-gradient(180deg,#A5499e 0%,#f2b363 100%)!important;
}

.client-hero {
	background:url(/images/cartalk-hero.jpg) rgba(0, 0, 0, 0.4);
	background-size:cover;
	background-blend-mode: multiply;
}

.homeSliderSeparation {
	padding-bottom: 27rem !important;
}

button {
  outline: none !important;
}

.triangleLeftTop:before, .triangleRightBottom:before, .triangleRightTop:before {
    content: "";
    position: absolute;
    display: block;
    border: 50px solid transparent;
    z-index: 10;
}

.triangleLeftTop, .triangleRightBottom, .triangleRightTop {
    position: relative;
}

.triangleRightBottom--blue:before {
    border-right: 50px solid #1c78df;
    border-bottom: 50px solid #1c78df;
}

.triangleRightBottom:before {
    bottom: 0;
    right: 0;
    border-right: 50px solid #00baff;
    border-bottom: 50px solid #00baff;
}


.screenshot-d {
  transform: translate3d(-15%,0,0) rotate(-45deg);
}

.screenshot-d2 {
	transform: translate3d(0,0,0) rotate(-25deg);
  }

.screenshot-container {
  transform: rotateX(55deg);
}

.screenshot-container2 {
	overflow: hidden;
  }

.screenshot-d-alt {
  transform: translate3d(15%,0,0) rotate(45deg);
}

.screenshot-t {
  transform: rotate(-45deg);
  margin-top: -340px;
  margin-left: 320px;
}

.screenshot-p {
  transform: rotate(-45deg);
  margin-top: -700px;
  margin-left: -175px;
}

.portfolio-image {
  transform: translate3d(15%,0,0) rotate(45deg);
}

.portfolio-image-container {
  transform: rotateX(55deg);
}

.portfolio-image2 {
  transform: translate3d(-20%,0,0) rotate(-45deg);
}

.portfolio-image-container {
  transform: rotateX(55deg);
}

.portfolio-desktop {
  transform: rotate(-45deg) !important;
  width: 600px !important;
  position: absolute;
  bottom: 0;
}

.portfolio-desktop2 {
  transform: rotate(45deg) !important;
  width: 600px !important;
  position: absolute;
  right: -100px;
  top: -475px;
}

.portfolio-tablet {
  transform: rotate(-45deg) !important;
  width: 390px !important;
  position: absolute;
  top: -50px;
  right: 475px;
}

.portfolio-phone {
  transform: rotate(-45deg) !important;
  width: 207px !important;
  position: absolute;
  right: 340px;
  top:-280px;
}

.featureicon {
  background-color: #000000;
}

.featureicon::before {
  transform: skewX(-12deg) !important;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

#section-divider {
  transform: scaleX(-1);
  fill: #f8f8f8;
}

#arrow-container-container {
	width: 100%;
	height: 720px;
	position: relative;
}

#arrow-container-container2 {

}

#arrow-container {
	width: 2000px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

#arrow-container2 {
	width: 100%;
}


.Header-hero {
    --scrollbarWidth: 0px;
    --windowWidth: calc(100vw - var(--scrollbarWidth));
    --layoutWidthMax: 1080px;
    --viewportWidthSmall: 375;
    --viewportWidthMedium: 600;
    --viewportWidthLarge: 1112;
    --viewportScale: calc(var(--windowWidth)/var(--viewportWidthLarge));
    --paddingTop: 160px;
    --paddingBottom: 160px;
    --columnPaddingNone: 0;
    --columnPaddingNormal: 16px;
    --rowGapNormal: 8px;
    --rowGapMedium: 24px;
    --rowGapLarge: 32px;
    --rowGapXLarge: 64px;
    --rowGapXXLarge: 88px;
    --rowGap: var(--rowGapNormal);
    --columnWidth: calc(var(--layoutWidth)/var(--columnCountMax));
    --columnMaxWidth: calc(var(--layoutWidthMax)*0.25);
    --copyMaxWidth: calc(var(--columnMaxWidth)*3);
    --columnPaddingMedium: 32px;
    --columnPaddingLarge: 64px;
    --columnPaddingXLarge: 112px;
    --columnCountMax: 4;
    --layoutWidth: var(--layoutWidthMax);
    --gutterWidth: calc(var(--windowWidth)/2 - var(--layoutWidth)/2);
    -webkit-box-direction: normal;
    font-size: 62.5%;
    font-family: Camphor,Open Sans,Segoe UI,sans-serif;
    font-weight: 400;
    font-style: normal;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-feature-settings: "pnum";
    font-variant-numeric: proportional-nums;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    padding-top: 60px;
    height: 60vh;
    min-height: 480px;
    max-height: 640px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.StripeBackground {
	--scrollbarWidth: 0px;
	--windowWidth: calc(100vw - var(--scrollbarWidth));
	--layoutWidthMax: 1080px;
	--viewportWidthSmall: 375;
	--viewportWidthMedium: 600;
	--viewportWidthLarge: 1112;
	--viewportScale: calc(var(--windowWidth)/var(--viewportWidthLarge));
	--paddingTop: 160px;
	--paddingBottom: 160px;
	--columnPaddingNone: 0;
	--columnPaddingNormal: 16px;
	--rowGapNormal: 8px;
	--rowGapMedium: 24px;
	--rowGapLarge: 32px;
	--rowGapXLarge: 64px;
	--rowGapXXLarge: 88px;
	--rowGap: var(--rowGapNormal);
	--columnWidth: calc(var(--layoutWidth)/var(--columnCountMax));
	--columnMaxWidth: calc(var(--layoutWidthMax)*0.25);
	--copyMaxWidth: calc(var(--columnMaxWidth)*3);
	--columnPaddingMedium: 32px;
	--columnPaddingLarge: 64px;
	--columnPaddingXLarge: 112px;
	--columnCountMax: 4;
	--layoutWidth: var(--layoutWidthMax);
	--gutterWidth: calc(var(--windowWidth)/2 - var(--layoutWidth)/2);
	-webkit-box-direction: normal;
	font-size: 62.5%;
	font-family: Camphor,Open Sans,Segoe UI,sans-serif;
	font-weight: 400;
	font-style: normal;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	font-feature-settings: "pnum";
	font-variant-numeric: proportional-nums;
	box-sizing: border-box;
	position: absolute;
	left: 0;
	right: 0;
	transform: skewY(-12deg);
	pointer-events: none;
	top: calc(50% + 310px);
}
.stripe.s0 {
	--scrollbarWidth: 0px;
	--windowWidth: calc(100vw - var(--scrollbarWidth));
	--layoutWidthMax: 1080px;
	--viewportWidthSmall: 375;
	--viewportWidthMedium: 600;
	--viewportWidthLarge: 1112;
	--viewportScale: calc(var(--windowWidth)/var(--viewportWidthLarge));
	--paddingTop: 160px;
	--paddingBottom: 160px;
	--columnPaddingNone: 0;
	--columnPaddingNormal: 16px;
	--rowGapNormal: 8px;
	--rowGapMedium: 24px;
	--rowGapLarge: 32px;
	--rowGapXLarge: 64px;
	--rowGapXXLarge: 88px;
	--rowGap: var(--rowGapNormal);
	--columnWidth: calc(var(--layoutWidth)/var(--columnCountMax));
	--columnMaxWidth: calc(var(--layoutWidthMax)*0.25);
	--copyMaxWidth: calc(var(--columnMaxWidth)*3);
	--columnPaddingMedium: 32px;
	--columnPaddingLarge: 64px;
	--columnPaddingXLarge: 112px;
	--columnCountMax: 4;
	--layoutWidth: var(--layoutWidthMax);
	--gutterWidth: calc(var(--windowWidth)/2 - var(--layoutWidth)/2);
	-webkit-box-direction: normal;
	font-size: 62.5%;
	font-family: Camphor,Open Sans,Segoe UI,sans-serif;
	font-weight: 400;
	font-style: normal;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	font-feature-settings: "pnum";
	font-variant-numeric: proportional-nums;
	pointer-events: none;
	box-sizing: border-box;
	position: absolute;
	top: auto;
	left: 0;
	right: 0;
	height: 5000px;
	bottom: calc(200px * 1);
	background: linear-gradient(90deg,#e4ecf5,#f5fdff);
}
.stripe.s1 {
	--scrollbarWidth: 0px;
	--windowWidth: calc(100vw - var(--scrollbarWidth));
	--layoutWidthMax: 1080px;
	--viewportWidthSmall: 375;
	--viewportWidthMedium: 600;
	--viewportWidthLarge: 1112;
	--viewportScale: calc(var(--windowWidth)/var(--viewportWidthLarge));
	--paddingTop: 160px;
	--paddingBottom: 160px;
	--columnPaddingNone: 0;
	--columnPaddingNormal: 16px;
	--rowGapNormal: 8px;
	--rowGapMedium: 24px;
	--rowGapLarge: 32px;
	--rowGapXLarge: 64px;
	--rowGapXXLarge: 88px;
	--rowGap: var(--rowGapNormal);
	--columnWidth: calc(var(--layoutWidth)/var(--columnCountMax));
	--columnMaxWidth: calc(var(--layoutWidthMax)*0.25);
	--copyMaxWidth: calc(var(--columnMaxWidth)*3);
	--columnPaddingMedium: 32px;
	--columnPaddingLarge: 64px;
	--columnPaddingXLarge: 112px;
	--columnCountMax: 4;
	--layoutWidth: var(--layoutWidthMax);
	--gutterWidth: calc(var(--windowWidth)/2 - var(--layoutWidth)/2);
	-webkit-box-direction: normal;
	font-size: 62.5%;
	font-family: Camphor,Open Sans,Segoe UI,sans-serif;
	font-weight: 400;
	font-style: normal;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	font-feature-settings: "pnum";
	font-variant-numeric: proportional-nums;
	pointer-events: none;
	box-sizing: border-box;
	position: absolute;
	top: auto;
	right: 0;
	height: 200px;
	bottom: 0;
	left: calc(50% + 220px);
	background: linear-gradient(90deg,#f4fafd,#eff8fc);
}
.stripe.s2 {
	--scrollbarWidth: 0px;
	--windowWidth: calc(100vw - var(--scrollbarWidth));
	--layoutWidthMax: 1080px;
	--viewportWidthSmall: 375;
	--viewportWidthMedium: 600;
	--viewportWidthLarge: 1112;
	--viewportScale: calc(var(--windowWidth)/var(--viewportWidthLarge));
	--paddingTop: 160px;
	--paddingBottom: 160px;
	--columnPaddingNone: 0;
	--columnPaddingNormal: 16px;
	--rowGapNormal: 8px;
	--rowGapMedium: 24px;
	--rowGapLarge: 32px;
	--rowGapXLarge: 64px;
	--rowGapXXLarge: 88px;
	--rowGap: var(--rowGapNormal);
	--columnWidth: calc(var(--layoutWidth)/var(--columnCountMax));
	--columnMaxWidth: calc(var(--layoutWidthMax)*0.25);
	--copyMaxWidth: calc(var(--columnMaxWidth)*3);
	--columnPaddingMedium: 32px;
	--columnPaddingLarge: 64px;
	--columnPaddingXLarge: 112px;
	--columnCountMax: 4;
	--layoutWidth: var(--layoutWidthMax);
	--gutterWidth: calc(var(--windowWidth)/2 - var(--layoutWidth)/2);
	-webkit-box-direction: normal;
	font-size: 62.5%;
	font-family: Camphor,Open Sans,Segoe UI,sans-serif;
	font-weight: 400;
	font-style: normal;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	font-feature-settings: "pnum";
	font-variant-numeric: proportional-nums;
	pointer-events: none;
	box-sizing: border-box;
	position: absolute;
	top: auto;
	left: 0;
	height: 200px;
	bottom: calc(200px * 1);
	right: calc(50% - 220px);
	background: linear-gradient(90deg,#d6e3f0,#e7f3fa);
}
.stripe.s3 {
	--scrollbarWidth: 0px;
	--windowWidth: calc(100vw - var(--scrollbarWidth));
	--layoutWidthMax: 1080px;
	--viewportWidthSmall: 375;
	--viewportWidthMedium: 600;
	--viewportWidthLarge: 1112;
	--viewportScale: calc(var(--windowWidth)/var(--viewportWidthLarge));
	--paddingTop: 160px;
	--paddingBottom: 160px;
	--columnPaddingNone: 0;
	--columnPaddingNormal: 16px;
	--rowGapNormal: 8px;
	--rowGapMedium: 24px;
	--rowGapLarge: 32px;
	--rowGapXLarge: 64px;
	--rowGapXXLarge: 88px;
	--rowGap: var(--rowGapNormal);
	--columnWidth: calc(var(--layoutWidth)/var(--columnCountMax));
	--columnMaxWidth: calc(var(--layoutWidthMax)*0.25);
	--copyMaxWidth: calc(var(--columnMaxWidth)*3);
	--columnPaddingMedium: 32px;
	--columnPaddingLarge: 64px;
	--columnPaddingXLarge: 112px;
	--columnCountMax: 4;
	--layoutWidth: var(--layoutWidthMax);
	--gutterWidth: calc(var(--windowWidth)/2 - var(--layoutWidth)/2);
	-webkit-box-direction: normal;
	font-size: 62.5%;
	font-family: Camphor,Open Sans,Segoe UI,sans-serif;
	font-weight: 400;
	font-style: normal;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	font-feature-settings: "pnum";
	font-variant-numeric: proportional-nums;
	pointer-events: none;
	box-sizing: border-box;
	position: absolute;
	top: auto;
	height: 200px;
	bottom: calc(200px * 3);
	left: 10%;
	right: calc(50% - 300px);
	background: linear-gradient(90deg,#ecf4fa,#e4eff6);
}
.IconsContainer {
	--scrollbarWidth: 0px;
	--windowWidth: calc(100vw - var(--scrollbarWidth));
	--layoutWidthMax: 1080px;
	--viewportWidthSmall: 375;
	--viewportWidthMedium: 600;
	--viewportWidthLarge: 1112;
	--viewportScale: calc(var(--windowWidth)/var(--viewportWidthLarge));
	--paddingTop: 160px;
	--paddingBottom: 160px;
	--columnPaddingNone: 0;
	--columnPaddingNormal: 16px;
	--rowGapNormal: 8px;
	--rowGapMedium: 24px;
	--rowGapLarge: 32px;
	--rowGapXLarge: 64px;
	--rowGapXXLarge: 88px;
	--rowGap: var(--rowGapNormal);
	--columnWidth: calc(var(--layoutWidth)/var(--columnCountMax));
	--columnMaxWidth: calc(var(--layoutWidthMax)*0.25);
	--copyMaxWidth: calc(var(--columnMaxWidth)*3);
	--columnPaddingMedium: 32px;
	--columnPaddingLarge: 64px;
	--columnPaddingXLarge: 112px;
	--columnCountMax: 4;
	--layoutWidth: var(--layoutWidthMax);
	--gutterWidth: calc(var(--windowWidth)/2 - var(--layoutWidth)/2);
	-webkit-box-direction: normal;
	overflow: hidden;
	font-size: 62.5%;
	font-family: Camphor,Open Sans,Segoe UI,sans-serif;
	font-weight: 400;
	font-style: normal;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	font-feature-settings: "pnum";
	font-variant-numeric: proportional-nums;
	box-sizing: border-box;
	width: 1920px;
	height: 700px;
	position: relative;
	left: 200px;
}
.Icon {
	--scrollbarWidth: 0px;
	--windowWidth: calc(100vw - var(--scrollbarWidth));
	--layoutWidthMax: 1080px;
	--viewportWidthSmall: 375;
	--viewportWidthMedium: 600;
	--viewportWidthLarge: 1112;
	--viewportScale: calc(var(--windowWidth)/var(--viewportWidthLarge));
	--paddingTop: 160px;
	--paddingBottom: 160px;
	--columnPaddingNone: 0;
	--columnPaddingNormal: 16px;
	--rowGapNormal: 8px;
	--rowGapMedium: 24px;
	--rowGapLarge: 32px;
	--rowGapXLarge: 64px;
	--rowGapXXLarge: 88px;
	--rowGap: var(--rowGapNormal);
	--columnWidth: calc(var(--layoutWidth)/var(--columnCountMax));
	--columnMaxWidth: calc(var(--layoutWidthMax)*0.25);
	--copyMaxWidth: calc(var(--columnMaxWidth)*3);
	--columnPaddingMedium: 32px;
	--columnPaddingLarge: 64px;
	--columnPaddingXLarge: 112px;
	--columnCountMax: 4;
	--layoutWidth: var(--layoutWidthMax);
	--gutterWidth: calc(var(--windowWidth)/2 - var(--layoutWidth)/2);
	-webkit-box-direction: normal;
	font-size: 62.5%;
	font-family: Camphor,Open Sans,Segoe UI,sans-serif;
	font-weight: 400;
	font-style: normal;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	font-feature-settings: "pnum";
	font-variant-numeric: proportional-nums;
	box-sizing: border-box;
	margin: -75px 0 0 -75px;
	border-radius: 50%;
	box-shadow: 0 15px 35px rgba(0,0,0,.1),0 3px 10px rgba(0,0,0,.07);
	position: absolute;
	will-change: transform,opacity;
	opacity: 1;
	animation: linear infinite;
	animation-name: run;
}
.Icon-imgSpotify {
	background: url(/images/cartalk-repair-cover.jpg) center center no-repeat;
	background-size: 100%;
	width: 152px;
	height: 152px;
}
.Icon-imgQuickBooks {
	background: url(/images/icons/quickbooks-icon.svg) center center no-repeat;
	background-size: 100%;
	width: 152px;
	height: 152px;
}

.Icon span {
	--scrollbarWidth: 0px;
	--windowWidth: calc(100vw - var(--scrollbarWidth));
	--layoutWidthMax: 1080px;
	--viewportWidthSmall: 375;
	--viewportWidthMedium: 600;
	--viewportWidthLarge: 1112;
	--viewportScale: calc(var(--windowWidth)/var(--viewportWidthLarge));
	--paddingTop: 160px;
	--paddingBottom: 160px;
	--columnPaddingNone: 0;
	--columnPaddingNormal: 16px;
	--rowGapNormal: 8px;
	--rowGapMedium: 24px;
	--rowGapLarge: 32px;
	--rowGapXLarge: 64px;
	--rowGapXXLarge: 88px;
	--rowGap: var(--rowGapNormal);
	--columnWidth: calc(var(--layoutWidth)/var(--columnCountMax));
	--columnMaxWidth: calc(var(--layoutWidthMax)*0.25);
	--copyMaxWidth: calc(var(--columnMaxWidth)*3);
	--columnPaddingMedium: 32px;
	--columnPaddingLarge: 64px;
	--columnPaddingXLarge: 112px;
	--columnCountMax: 4;
	--layoutWidth: var(--layoutWidthMax);
	--gutterWidth: calc(var(--windowWidth)/2 - var(--layoutWidth)/2);
	-webkit-box-direction: normal;
	font-family: Camphor,Open Sans,Segoe UI,sans-serif;
	font-style: normal;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	font-feature-settings: "pnum";
	font-variant-numeric: proportional-nums;
	box-sizing: border-box;
	position: absolute;
	will-change: transform,opacity;
	left: 50%;
	bottom: -40px;
	padding: 5px 12px;
	background: #fff;
	box-shadow: 0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.07);
	border-radius: 50px;
	white-space: nowrap;
	font-size: 16px;
	font-weight: 500;
	color: #566b78;
	pointer-events: none;
	user-select: none;
	transform: translate(-50%,-10px);
	opacity: 0;
	transition-property: opacity,transform,-webkit-transform;
	transition-duration: .25s;
	transition-timing-function: ease-out;
}
.Icon:hover > span {
	opacity: 1;
}

.Icon-fast { animation-duration: 20s; }     
.Icon-mid { animation-duration: 25s; }
.Icon-slow { animation-duration: 30s; }     

@-webkit-keyframes run {
  0%{ left: 0; opacity: 1;}
  25%{ left: -50vw; opacity: 1;}
  26%{ left: -50vw; opacity: 0;}
  27%{ left: 150vw; opacity: 0;}
  28%{ left: 150vw; opacity: 1;}
  100%{ left: 0; opacity: 1;}
  }

.service-banner {
	display: block;
    position: absolute;
    right: 0;
    bottom: 190px;
    width: 32px;
    height: 150px;
    line-height: 33px;
    background: #313e4a;
    border-right: 0px solid #313e4a;
    color: #fafafa;
    font-size: 14px !important;
    text-align: center;
    text-decoration: none;
    overflow-wrap: normal !important;
    word-break: normal !important;
    word-wrap: normal !important;
    white-space: nowrap !important;
    cursor: pointer;
    -webkit-writing-mode: vertical-lr;
    -moz-writing-mode: vertical-lr;
    -ms-writing-mode: tb-rl;
    -o-writing-mode: vertical-lr;
    writing-mode: vertical-lr;
    -webkit-transform: rotate(
180deg
);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(
180deg
);
    z-index: 100;
}